* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

body {
  background-color: #212121;
  color: #ffffff;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 400;
}

.header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header > a {
  font-size: 14px;
  color: #666666;
  text-decoration: underline;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input {
  background-color: #404040;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 14px 60px 14px 20px;
  border-radius: 28px;
  width: 100%;
}

.input::placeholder {
  color: #aaaaaa;
}

.input::selection {
  background-color: #ffffff;
  color: #000000;
}

.btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: #212121;
  font-weight: 500;
  border: none;
  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #f0f0f0;
}
