{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <title>Tibia Overflux/Overpower</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a
          href="https://github.com/bashbruno/tibia-charms-damage"
          target="_blank"
          >source</a
        >
      </div>
      <h1 class="title">Which creature are you looking for?</h1>
      <form method="GET" class="form">
        <div class="input-container">
          <input
            type="text"
            value="{{ .Query }}"
            required
            autofocus
            onfocus="this.setSelectionRange(this.value.length, this.value.length);"
            spellcheck="false"
            name="q"
            class="input"
            placeholder="Dragon"
          />
          <button type="submit" class="btn">↑</button>
        </div>
      </form>
      {{ template "results" . }}
    </div>
  </body>
</html>
{{ end }}
